<div class="background">
    <div class="login-container">
        <div class="text-container">
            <h1>Hi stranger</h1>
            <p>
                If you want to create an account to access this awesome app,
                Go ahead and click the button below!
            </p>
            <button mat-button routerLink="/register">Sign up</button>
        </div>
        <div class="form-container">
            <h1>Welcome to my Angular-Firebase tryout</h1>
            <h5>Sign in with your email</h5>
            <app-login-form (formData)="login($event)"></app-login-form>
        </div>
    </div>
</div>
