<mat-toolbar>
    <a (click)="logout()">Log out</a> 
</mat-toolbar>
<div class="background">
    <h1>Welcome to the Angular-Firebae dashboard</h1>
    <h2>Built with &lt;3 by Dilyano</h2>

    <a target="_blank" class="btn" href="www.google.nl">
        Click here to view google.nl
    </a>
</div>